<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    </style>
</head>
<body style="background-color: rgba(240, 187, 118, 0.445);">
    <h1 style="color: rgb(94, 2, 2)"> proyecto app de calculadora</h1>
    <h1>calculadora</h1>
    <p>selecciona la opcion que desea operar</p>
    <ul>
        <li><a style="text-decoration: none; color: rgb(247, 108, 108);" href="/suma?num1=5&num2=4">pagina de sumas</a></li>
        <li><a style="text-decoration: none; color: rgb(131, 231, 231) " href="/resta?num1=5&num2=4">pagina de restas</a></li>
        <li><a style="text-decoration: none;" href="/multiplicacion?num1=5&num2=4">pagina de multiplicaciones</a></li>
        <li><a style="text-decoration: none;" href="/division?num1=5&num2=4">pagina de divisiones</a></li>
        <li><a style="text-decoration: none;" href="/divisionpiso?num1=5&num2=4">pagina de division piso</a></li>
    </ul>
    <!--comentario-->
</body>
</html>